* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Lato', 'Verdana', sans-serif;
}

header {
    background-color: #2B3860;
    color: #FFF;
}

h3 {
    line-height: 2.5rem;
    text-decoration: underline;
}

img {
    border-radius: 50%;
}

.name-container {
    display: flex;
    justify-content: center;

    margin: 0 0 1rem 0;

    font-size: 1.75rem;
    font-variant: small-caps;
    text-align: center;
}

.name-container > h1 > a {
    text-decoration: none;
    color: #FFF;
}

.name-container > h1 > a:link {
    color: #FFF;
}

.name-container > h1 > a:visited {
    color: #FFF;
}

.name-container > h1 > a:hover{
    background-color: #2B3860;
}

nav {
    display: flex;
    justify-content: center;

    margin: 1rem 0 0 0;

    font-size: 1.5rem;
}

a + a {
    margin-left: .75rem;
}

a {
    padding: .25rem;

    text-decoration: none;
}

a:link {
    color: #D8CC8A;
}

a:visited {
    color: #70631C;
}

a:hover {
    background-color: #8F8136;
    color: white;
}

a:active {
    color: #FFF;
}

.main-container {
    display: flex;

}

.main-headings {
    font-size: 2rem;

    line-height: 2.5rem;
}

.aboutme-container {
    flex: 1;

    padding: 1rem;

    background-color: #636F92;
    color: #FFF;

    font-size: 1.125rem;
    text-align: center;
}

.information-container {
    flex: 2;

    padding: 1rem;

    font-size: 1.125rem;
}

footer {
    padding: .5rem;

    background-color: #2B3860;
    color: #FFF;

    font-size: 1.125rem;
}

@media all and (max-width: 768px) {
    .name-container {
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        flex-direction: column;
    }
}